<p id="notice"><%= notice %></p>

<h1>Listing Brands</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <!-- <th>User</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= brand.content %></td>
        <!-- <td><%= brand.user %></td> -->
        <td><%= link_to 'Show', brand %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Product', new_product_path(brand_id: brand.id) %></td> <!--ajout pr associer products form direct brand list -->
      </tr>

    <!-- ici la boucle pr les producs dans la brand -->
  <% brand.products.each do |product| %> 
     <td></td>
     
     <td><%= product.name %></td>
     <td><%= product.price %></td>
     <td><%= product.brand.name unless product.brand.nil?%></td> <!-- afficher le nom de la brand-->
     
   </tr>
     <% end %>
     <% end %>


   
  </tbody>
</table>

<br>

<%= link_to 'New Brand', new_brand_path %>
